{% extends 'mainapp/base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="container text-center py-4">
        <h1 class="display-3">Форум</h1>
        <text class="h3"><br>
        </text>
    </div>

    <div class="row text-center">
    <a class="p-2 btn btn-outline-primary mb-4" href="{% url 'mainapp:email_create' %}">Создать</a>

        {% for object in object_list %}
        <div class="col">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">n</h1>

                    <p>n</p>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'mainapp:email_update' object.pk %}">Обновить</a>
                    <a class="p-2 btn btn-outline-primary" href="">Детали</a>
                    <a class="p-2 btn btn-outline-primary" href="">Выбрать</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}