{% extends 'mainapp/base.html' %}
{% block content %}
{% load static %}
{% load my_tags %}
    <div class="block-home-banner">
        <div class="container text-light" id="text_center">
            <h1 class="display-3">Барония</h1>
            <text class="h3">Такого выживания вы не видели<br>
                даже во сне!
            </text>
        </div>
    </div>

    <div id="center">
        <div class="container py-4" data-bs-theme="dark">
            <div class="row text-center">
        {% for object in object_list %}
        <div class="col">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name }} {{ object.slag }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$ {{ object.price }}</h1>
                    <img src="{{ object.image | my_media }}" class="img-thumbnail">

                    <p>{{ object.description | truncatechars:100}}</p>
                    <a class="p-2 btn btn-outline-primary" href="">Обновить</a>

                    <a class="p-2 btn btn-outline-primary"
                       href="">Детали</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
        </div>
    </div>
{% endblock %}