{% extends 'mainapp/base.html' %}
{% block content %}
{% load static %}
{% load my_tags %}
    <div class="block-home-banner">
        <div class="container text-light" id="text_center">
            <h1 class="display-3">Выживалово</h1>
            <text class="h3">Такого выживания вы не видели<br>
                даже во сне!
            </text>
        </div>
    </div>

    <div id="center">
        <div class="container py-4" data-bs-theme="dark">
            <div class="row ">
                {% for product in object_list %}
                <div class="col-4">
                    <div class="card mb-4" style="width: 18rem;">
                        <img src="{{ product.image | my_media }}" class="card-img-top" alt="red_stoune">
                        <div class="card-body ">
                            <p class="card-text">{{ product.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}